trigger:
  - master

variables:
- group: terraform-vars

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  - script: |
      set -ex
      echo "Instalando Terraform CLI..."
      curl -Lo terraform.zip https://releases.hashicorp.com/terraform/1.9.8/terraform_1.9.8_linux_amd64.zip
      unzip terraform.zip
      sudo mv -f terraform /usr/local/bin/terraform
      terraform version
    displayName: 'Instalar Terraform CLI'

  - task: AWSShellScript@1
    displayName: 'Terraform fmt / validate / plan / apply (prod)'
    inputs:
      awsCredentials: 'aws-reto-cloud-SantiagoG'
      regionName: 'us-east-1'
      scriptType: 'inline'
      inlineScript: |
        set -ex

        echo "PWD:"
        pwd
        echo "Contenido del repo:"
        ls -la

        # Entramos al entorno prod
        cd envs/prod

        echo "Contenido de envs/prod:"
        ls -la

        # Mapear variables de Azure DevOps -> variables de Terraform
        export TF_VAR_db_user="$(DB_USER)"
        export TF_VAR_db_password="$(DB_PASSWORD)"

        echo "Ejecutando terraform fmt..."
        terraform fmt -check

        echo "terraform init..."
        terraform init -input=false

        echo "terraform validate..."
        terraform validate

        echo "terraform plan..."
        terraform plan -input=false -out=tfplan

        echo "terraform apply..."
        terraform apply -input=false -auto-approve tfplan
